<!DOCTYPE html>
<html class="home">
  <head>
    <title>Secret Lodge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#333">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "static_pages", 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body  class="home text-center">


      <div class="home-container d-flex h-100 p-3 mx-auto flex-column">
        <%= render 'layouts/header_static' %>

        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
  
        <%= yield %>

        <%= render 'layouts/footer_static' %>
      </div>


  </body>
</html>
